@model ProgrammingClub2.Models.MembershipTypeModel

@{
    ViewBag.Title = "DetailsMembershipType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsMembershipType</h2>

<div>
    <h4>MembershipTypeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMembershipType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMembershipType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionLengthMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionLengthMonths)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMembershipType  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
