@model ProgrammingClub2.Models.CodeSnippetModel

@{
    ViewBag.Title = "DetailsCodeSnippet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsCodeSnippet</h2>

<div>
    <h4>CodeSnippetModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCodeSnippet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCodeSnippet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revision)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCodeSnippet  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
